.header {
  display: grid;
  font-size: 18px;
  min-width: 1052px;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: "header__links-list header__logo-image address";
  margin: 92px 24px 94.5px 24px;
}

.header__menu {
  min-width: 454px;
  padding: 44px 40.48px 39px 26.52px;
}

.header__links-list {
  display: flex;
  gap: 31.9px;
}

.header__links-list-item {
  list-style: circle;
  text-underline-position: under;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-style: normal;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  min-width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  padding: 1px 8px 0 5px;
}

.address {
  display: grid;
  line-height: 24.9px;
  white-space: nowrap;
  padding: 5px 25.48px 2px 184.52px;
  font-style: normal;
  text-underline-position: under;
}

.__address {
  justify-self: left;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  font-family: "Raleway", sans-serif;
  width: 100%;
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 165px;
  padding-right: 0;
  padding-left: 50px;
  z-index: 1;
}

.aligned-text {
  display: block;
  text-align: left;
  line-height: 115px;
  z-index: 1;
}

.aligned-text_center {
  display: block;
  text-align: center;
  line-height: 100px;
  z-index: 1;
  margin-top: 20px;
  margin-right: 50px;
}

.aligned-text_right {
  display: block;
  text-align: right;
  line-height: 100px;
  z-index: 1;
  margin-top: 20px;
  margin-right: 20px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.letter-spacing {
  letter-spacing: 0.3em;
}

.cover__description {
  display: flex;
}

.cover__description-text {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  padding: 147px 77px 62px 82px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  word-spacing: 0.82em;
  z-index: 1;
}

.bet-button {
  font-family: "Raleway", sans-serif;
  margin: 135px 50px 51px 0;
  align-self: flex-end;
  color: rgb(255, 255, 255, 1);
  background-color: transparent;
  border: 1px solid currentColor;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
  z-index: 1;
}

.lots {
  margin: 179px 24px 146px;
  min-width: 1052px;
}

.lots__heading {
  font-family: "Raleway", sans-serif;
  padding: 0 40px 27px 40px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  color: rgb(0, 0, 0, 1);
}

.lots__card-list {
  display: flex;
  list-style: none;
  gap: 25px;
  flex-wrap: wrap;
  flex-direction: row;
}

.lots__card-list-item {
  /*width: 100%;*/
  min-height: 100%;
  position: relative;
  /*flex-wrap: wrap;*/
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 563px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-family: "Raleway", sans-serif;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  width: 254px;
  text-decoration: underline;
  text-transform: uppercase;
  width: 100%;
  color: rgb(255, 255, 255, 1);
  z-index: 1;
}

.card__text {
  font-family: "Raleway", sans-serif;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  width: 254px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgb(255, 255, 255, 1);
  z-index: 1;
}

.lots__look-more-link {
  display: block;
  margin-left: 40px;
  margin-top: 31px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-align: left;
  text-underline-position: under;
}

.about {
  margin: 0 24px 178px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  min-height: 100%;
}

.about__logo {
  display: flex;
  margin-top: 35px;
  margin-left: 47px;
  background-color: rgb(0, 0, 0, 1);
  width: 240px;
  height: 240px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.second__column {
  margin-top: 133px;
}

.about__title {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 99px;
  margin-top: 2px;
}

.about__text {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  width: 693px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  list-style: none;
  gap: 26.5px;
}

.footer {
  display: grid;
  margin: 0 50px 91px;
  min-width: 1000px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "address footer__menu footer__social-list";
}

.footer .address {
  padding: 0 185px 91px 0;
  line-height: 24px;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu {
  margin: 0 0 33px 3px;
  /*position: relative;
  left: 3px;*/
  text-align: center;
  width: 149px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link {
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  margin: 0 0 48px 186px;
  display: flex;
  width: 240px;
  list-style: none;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
